* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #fff;
  --color2: #000;
  --color3: #a7fc00;
}

body {
  height: 100svh;
  width: 100svw;
  background: var(--color2);
  user-select: none;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 5vw;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  perspective: 1000px;
  display: inline-block;
}

/* .card-nonclicable {
  cursor: not-allowed;
} */

.flip-card {
  transition: 700ms;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  border: 3px solid var(--color1);
  border-radius: 15px;
  cursor: pointer;
}

.resolved {
  transform: rotateY(180deg) scale(0.95) !important;
  border-color: var(--color3);
  cursor: default;
}

/* .card:hover .flip-card {
  transform: rotateY(180deg);
} */

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 12px;
}

.front {
  background: url(images/cardBGs/cardback2.jpg);
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-flipped {
  transform: rotateY(180deg);
  cursor: default;
}

/*  */
.cardFlexBefore8 {
  flex: 30%;
}
.cardFlexBefore15 {
  flex: 19%;
}
.cardFlexBefore44 {
  flex: 14%;
}

/*  */

@media screen and (max-width: 940px) {
  .card {
    flex: 25%;
  }
}
