@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color1: #fff;
  --color2: #000;
  --color3: #a7fc00;
  --hoverBorderCardCol: #747474;
}

body {
  height: 100svh;
  width: 100svw;
  background: var(--color2);
  user-select: none;
  color: var(--color1);
  font-family: "Manrope", sans-serif;
}

.panel {
  height: 5svh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.4svh;
}

.panel-counter {
  display: flex;
  align-items: center;
}

.panel-counter-icon {
  filter: invert(100%);
  height: 2.5svh;
  margin-left: 4px;
}
.panel-victories-wrap {
}

.panel-victories {
}

.panel-moves-wrap {
}
.panel-moves {
}

.panel-icon {
  fill: var(--color1);
}
.game {
  height: 95svh;
  width: 100svw;
  display: flex;
  padding: 1svh;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  perspective: 1000px;
  display: inline-block;
}

/* .card-nonclicable {
  cursor: not-allowed;
} */

.flip-card {
  transition: transform 700ms, border-color 200ms ease-in;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  border: 3px solid var(--color1);
  border-radius: 15px;
}

.resolved {
  transform: rotateY(180deg) scale(0.95) !important;
  border-color: var(--color3);
  cursor: default;
}

/* .card:hover .flip-card {
  transform: rotateY(180deg);
} */

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 12px;
}

.front {
  background: url(images/cardBGs/cardback2.jpg);
  backface-visibility: hidden;
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-flipped {
  transform: rotateY(180deg);
}

/*  */
.cardFlexBefore8 {
  flex: 30%;
}
.cardFlexBefore15 {
  flex: 19%;
}
.cardFlexBefore44 {
  flex: 14%;
}

/*  */

/* Модальное окно */
.modal-wrapper {
  position: fixed;
  display: none;
  top: 0;
}

.modal-open {
  /* visibility: visible;
  opacity: 1; */
  display: block;
}

.modal-cont {
  /* visibility: hidden;
  opacity: 0; */
  transition: 0.2s;
  z-index: 9999;
  background: var(--color2);
  width: 100svw;
  height: 100svh;
  display: grid;
  place-items: center;
}

.modal-box {
  background: var(--color2);
  border: var(--color3) 1px dashed;
  padding: 10px;
  width: 50svw;
  max-width: 350px;
  height: 50svh;
  max-height: 200px;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding-bottom: 25px;
  height: 100%;
  position: relative;
  font-size: 18px;
}

.modal-buttons {
  display: flex;
  gap: 2px;
}

.modal-btn {
  padding: 10px 25px;
  background: var(--color3);
  display: inline-block;
  cursor: pointer;
  color: var(--color2);
  border: solid var(--color3) 1px;
  transition: 0.2s ease-in;
  height: 100%;
  font-size: 18px;
}
.modal-btn:hover {
  background: transparent;
  border: solid var(--color3) 1px;
  color: var(--color3);
}

.modal-input-cont {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px 0;
}

.modal-number-input {
  border: var(--color3) solid 1px;
  height: 100%;
  background: var(--color2);
  color: var(--color3);
  padding: 2px 4px;
  width: 3em;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.modal-number-input:focus {
  outline: none;
}

.modal-range-input {
}

/* Input Range */
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--color2);
  border: 1px solid var(--color3);
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background: var(--color2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  border: 1px var(--color3) dotted;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color2);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--color2);
  border: 1px solid var(--color3);
}
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--color2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  border: 1px var(--color3) dotted;
}
/*  */

@media (hover: hover) {
  /* Анимация наведения мыши при её наличии, 
  изменение родителя при наведении на его дочерний элемент, 
  проверка на отсутсвие классов присущих отгаданной паре 
  и перевернутым картам */
  .flip-card:not(.resolved):not(.card-flipped):has(> .front:hover) {
    border-color: var(--hoverBorderCardCol);
  }
}

@media screen and (max-width: 940px) {
  .card {
    flex: 25%;
  }
}
